
.wp-pagenavi{padding:5px 0;border-top:1px solid #ddd;}
.wp-pagenavi a {
	padding:5px 7px;
	text-decoration:none;
	border:1px solid #f7f7f7;
}
.wp-pagenavi a:hover {
	background:#f7f7f7;
	border:1px solid #f7f7f7;
	text-decoration:none;
}
.wp-pagenavi span.pages {
	padding:1px 7px 1px 22px !important;
	padding:2px 7px 2px 22px;
	height:16px;
	line-height:16px;
}
*+html .wp-pagenavi span.pages {
	padding:2px 7px 2px 22px !important;
}
.wp-pagenavi span.current {
	background:#f7f7f7;
	padding:5px 7px;
	border:1px solid #f7f7f7;
	font-weight:bold;
}
.wp-pagenavi span.extend {
	padding:2px 4px;
}