
/*

Theme Name: zBench
Theme URI: http://zww.me/archives/25131
Description: Simply, little images, designed and created by zwwooooo. It is a simply WordPress theme without any plugins needed (support plugin WP-PageNavi, WP Page Numbers, WP-PostViews, wp-utf8-excerpt, Related Posts of Simple Tags, WP-RecentComments), widgets, threaded-comments, Valid CSS3 & HTML.
Version: 1.0.6
Author: zwwooooo
Author URI: http://zww.me/
Tags: threaded-comments, two-columns, fixed-width, right-sidebar, theme-options

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
*/

/* static START */
*{margin:0;padding:0;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{margin:0;padding:0;}
abbr[title], acronym[title] {border-bottom:thin solid;cursor:help;}
body{background:#f7f7f7;font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;color:#333;text-align:left;}
h1,h2,h3,h4,h5,h6{font-family:Georgia,"Times New Roman",Times,serif;font-weight:bold;}
h1{font-size:24px;line-height:30px;}
h2{font-size:20px;line-height:26px;}
h3{font-size:16px;line-height:24px;}
h4{font-size:14px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:14px;line-height:20px;}
small{font-size:10px;line-height:16px;}
a{color:#047;text-decoration:none;}
a:hover{color:#4a630f;text-decoration:none;}
fieldset,img{border:none;}
hr{display:none;}
.toggle{display:none;}

/* fixed */
.fixed{clear:both;margin:0;padding:0;}

/* radius */
#search,#sidebar-border,#sidebar,.sticky,#commentform textarea{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
#author,#email,#url,#submit{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#menus li,#menus a{-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;}

/* nav */
#nav{z-index:5;position:relative;margin:0 auto;padding-top:20px;clear:both;height:31px;background:#454546;}
#menus{font-size:14px;margin:0 auto;height:31px;width:700px;padding-right:260px;}
#menus a{border:1px solid #555;border-bottom:none;color:#abaaaa;display:block;line-height:30px;background:#333;padding:0 10px;}
#menus a:hover{color:#fff;}
#menus li{list-style:none;float:left;position:relative;margin-right:8px;}
#menus ul.children,#menus ul li ul{display:none;overflow:hidden;z-index:100;position:absolute;left:-1px;top:30px;width:150px;background:#454546;border:1px solid #555;}
#menus ul.children li,#menus ul li li{float:none;list-style:none;text-align:left;margin:0;padding:0;}
#menus ul li li a{display:inline;border:none;background:none;}
#menus li:hover ul.children,#menus li:hover ul{display:block;}
#menus li.current-cat a,#menus li.current_page_item a{color:#333;background:#f7f7f7;text-shadow:1px 1px 1px #ddd;}

/* Search */
#search{box-shadow:2px 2px 5px #777;-moz-box-shadow:2px 2px 5px #777;-webkit-box-shadow:2px 2px 5px #777;position:absolute;background:#565657;right:50%;margin-right:-450px;bottom:-14px;width:230px;height:26px;overflow:hidden;border:1px solid #999;}
#search form{padding:0;}
#search input#s{width:190px;background:transparent;border:none;color:#ddd;padding:6px;font-size:12px;}
#search form input#searchsubmit{cursor:pointer;position:absolute;right:2px;top:0;width:30px;height:26px;background:#565657 url('images/search-input-bg.gif') no-repeat right 0;border:none;border-left:1px solid #999;}

/* wrapper */
#wrapper{margin:0 auto;width:960px;}

/* Header */
#header{z-index:1;position:relative;margin:30px auto;height:30px;}
#header h1{float:left;padding:0 0 0 20px;text-shadow:1px 1px 1px #999;font-size:28px;font-family:Georgia,"Times New Roman",Times,serif;}
#header h1 a{color:#222;line-height:30px;}
#header h2{float:left;line-height:18px;padding:10px 0 0 20px;color:#222;font-size:12px;font-weight:normal;text-shadow:0 1px 0 #fff;}

/* Rss */
#rss{position:absolute;bottom:-40px;right:120px;}
#rss a{background:url("images/icons.gif") no-repeat 0 0;display:block;width:66px;height:20px;text-indent:-9999em;}
#twitter{position:absolute;bottom:-40px;right:95px;}
#twitter a{background:url("images/icons.gif") no-repeat -70px 0;display:block;width:20px;height:20px;text-indent:-9999em;}
#facebook{position:absolute;bottom:-40px;right:191px;}
#facebook a{background:url("images/icons.gif") no-repeat -95px 0;display:block;width:20px;height:20px;text-indent:-9999em;}

/* content */
#content{overflow:hidden;float:left;width:640px;padding:0;margin-right:20px;}

/* Post */
.post{position:relative;width:640px;padding:0 0 10px;margin:0 0 20px;}
div.post-single{margin:0;padding:0;}
.post h2.title{border-bottom:1px solid #fff;font-size:16px;text-shadow:1px 1px 1px #aaa;margin:0;padding:2px 10px;}
.post h2.title a{color:#445566;}
.post h2.title a:hover{color:#4a630f;}
.post h2.title-single{color:#445566;}
.post ul,.post ol{margin:0 30px 18px;}
.post li{line-height:18px;}
.post hr{display:block;}
.post p{line-height:18px;margin:0 0 18px 0;}
.post h1,.post h2,.post h3,.post h4,.post h5,.post h6{margin:0 0 18px 0;color:#555;}
.post .entry{font-size:13px;overflow:hidden;padding:0 10px;}
.post .entry a{color:#333;text-decoration:underline;}
.post .entry a:hover{color:#4a630f;text-decoration:none;}
.post .entry img{background:#fff;border:1px solid #ddd;padding:5px;}
.post .entry table{background:#fff;border:1px solid #ccc;border-width:2px;border-collapse:collapse;margin:5px 0 10px;}
.post .entry th,.post .entry td{border:1px solid #ccc;padding:3px 10px;text-align:left;vertical-align:top;}
.post .entry .entry tr.even td{background:#f7f7f7;}
.post .entry th{background:#edeff0;}
.post .entry blockquote{color:#555;padding:10px;margin:0 0 20px;border:1px solid #ddd;background:#eee;}
.post .entry code{background:#333;color:#ddd;}
.post .entry pre{font-size:12px;width:95%;line-height:16px;overflow:auto;font-family:"Courier New", FixedSys;color:#555;background:#fafafa;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:15px solid #ccc;border-right:1px solid #ccc;padding:0 5px 16px;margin:0 0 20px;}
.post .post-info-top{border-top:1px solid #ddd;line-height:18px;height:18px;position:relative;color:#999;margin:0 0 18px;padding:2px 10px;overflow:hidden;display:block;}
.post .post-info-bottom{border-bottom:1px solid #fff;line-height:24px;position:relative;color:#999;margin:0;padding:2px 10px;overflow:hidden;display:block;}
.post .post-info-top a,.post .post-info-bottom a{color:#999;}
.post .post-info-top a:hover,.post .post-info-bottom a:hover{color:#4a630f;text-decoration:underline;}
.post .entry p.read-more a,.post .entry p a.more-link,.post-info-date,.post-info-category,.post-info-tags,#gotocomments,#addcomment{display:block;padding-left:20px;background:url("images/icons.gif") no-repeat scroll 0 0;}
.post-info-date{float:left;background-position:0 -40px;}
.post-info-category{display:inline;background-position:-35px -60px;}
.post-info-tags{display:inline;background-position:-20px -240px;margin-left:10px;}
#gotocomments{float:right;background-position:0 -100px;margin-right:10px;}
#addcomment{float:right;background-position:0 -120px;}
.post .entry p.read-more a,.post .entry p a.more-link{position:absolute;bottom:0;left:10px;text-decoration:none;color:#4a630f;background-position:0 -20px;}
.nav_link{}
.sticky{width:638px;background:#f2f2f2;border:1px solid #ccc;}
.post h2.sticky-h2 a{color:#ff4e00;}
.post .add-info{padding:0 10px;}
.post .add-info h3{line-height:16px;font-size:12px;color:#4a630f;margin-bottom:5px;background:#e5e5e5;}
.post .add-info ul{list-style:square;}

/* Sidebar */
#sidebar-border{overflow:hidden;float:left;width:298px;background:#f2f2f2;border:1px solid #ccc;}
#sidebar{width:276px;border:1px solid #fff;padding:20px 10px 10px;}
#sidebar a{color:#555;text-shadow:0 1px 0 #fafafa;}
#sidebar a:hover{color:#999;}
#sidebar h3,#sidebar h2{text-shadow:1px 1px 1px #aaa;color:#445566;font-family:Georgia,"Times New Roman",Times,serif;font-size:16px;margin:0;padding:0 5px;line-height:30px;border-bottom:1px solid #fff;}
#sidebar li{line-height:20px;}
#sidebar li.widget{margin-bottom:10px;}
#sidebar li.widget div{padding:8px 5px;border-top:1px solid #ddd;}
#sidebar li.widget div div{padding:0;border-top:none;}
#sidebar li.widget div.fixed{padding:0;margin:0;border:none;}
#sidebar ul{list-style:none;}
#sidebar ul ul{padding:8px 5px;border-top:1px solid #ddd;}
#sidebar ul ul ul{padding:0;border-top:none;}
#sidebar ul ul li{padding-left:15px;background:url("images/icons.gif") no-repeat 0 -280px;}
#sidebar ul ul li:hover{background:url("images/icons.gif") no-repeat -10px -260px;}
#zbench-cat select,#zbench-archives select{background:#fff;color:#555;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #fff;border-bottom:1px solid #fff;width:260px;height:25px;line-height:25px;}
/* WP-RecentComments */
#sidebar ul ul li.rc_item,#sidebar ul ul li#rc_nav{background:none;padding:0;margin:3px 0;}
#sidebar ul ul li.rc_item div{padding:0;border:none;}
#sidebar ul ul li.rc_item .rc_avatar img{border:1px solid #ddd;}

/* Comments */
#comments-div{border-top:1px solid #ddd;position:relative;line-height:24px;height:24px;text-shadow:1px 1px 1px #999;text-align:right;margin:0 0 30px;padding:2px 10px;}
h2#comments{line-height:24px;font-size:12px;font-weight:normal;width:300px;float:right;}
span#comments-addcomment{position:absolute;left:10px;top:2px;padding-left:20px;background:url("images/icons.gif") no-repeat 0 -115px;}
span#comments-addcomment a{color:#047;text-decoration:none;}
span#comments-addcomment a:hover{color:#4a630f;text-decoration:none;}

/* comments list style */
ol.commentlist li{position:relative;list-style:none;height:1%;margin:0 20px;padding-bottom:20px;}
ol.commentlist li div em.approved{margin-left:55px;color:#ff0000;}
ol.commentlist li div.comment-author{margin:0;padding:0;line-height:16px;height:16px;border-bottom:1px solid #ddd;display:block;}
ol.commentlist li div.vcard img.avatar{position:absolute;left:0;top:0;width:40px;height:40px;background:#fff;padding:2px;border:1px solid #ddd;}
ol.commentlist li div.vcard cite.fn{margin-left:55px;font-style:normal;font-weight:bold;}
ol.commentlist li div.vcard cite.fn a.url{color:#047;}
ol.commentlist li div.vcard cite.fn a.url:hover{color:#aaa;}
/* ol.commentlist li div.vcard span.says{position:absolute;text-indent:-9999em;} */
/* ol.commentlist li div.comment-meta{ position:absolute;left:55px;top:25px;} */
ol.commentlist li span.comment-meta{}
ol.commentlist li span.comment-meta a{color:#aaa;}
ol.commentlist li span.comment-meta a:hover{color:#555;}
ol.commentlist li div.comment-text{border-top:1px solid #fff;margin:0 0 10px;padding-top:10px;}
ol.commentlist li p,ol.commentlist li blockquote{margin:0 50px 0 55px;padding-bottom:10px;}
ol.commentlist li blockquote{padding:5px;border:1px dotted #ddd;color:#999;background:#fafafa;}
ol.commentlist li blockquote p{margin-left:0;}
ol.commentlist li code{margin-bottom:10px;padding:2px;background:#777;color:#ddd;}
ol.commentlist li div.reply{position:absolute;right:0;top:8px;}
ol.commentlist li div.reply a{display:block;width:30px;text-align:center;color:#aaa;padding:0 5px;background:#fafafa;border:1px solid #dfdfdf;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
ol.commentlist li div.reply a:hover{background:#f2f2f2;}
ol.commentlist li ul.children li{margin:0 0 0 30px;padding-bottom:0;border-bottom:none;}
ol.commentlist li ul.children li.depth-2{margin:0 0 0 55px;}
ol.commentlist li ul.children li div{border-top:1px solid #dfdfdf;}
ol.commentlist li ul.children li div div{border-top:none;}
ol.commentlist li ul.children li div.comment-author{border-top:1px solid #fff;border-bottom:none;}
ol.commentlist li ul.children li div.vcard img.avatar{top:-8px;width:24px;height:24px;}
ol.commentlist li ul.children li div.vcard cite.fn{margin-left:40px;}
/* ol.commentlist li ul.children li span.comment-meta{} */
ol.commentlist li ul.children li p,ol.commentlist li ul.children li blockquote{margin:0 0 0 40px;}
ol.commentlist li ul.children li blockquote p{margin-left:0;}
ol.commentlist li ul.children li div.reply{top:-8px;}
ol.commentlist li ul.children li div.reply a{background:#f2f2f2;}
ol.commentlist li ul.children li div.reply a:hover{background:#fafafa;}

/* navigation */
#pagination,#nav-below{display:block;width:620px;line-height:18px;margin:0;padding:2px 10px;border-top:1px solid #ddd;}
.navigation{border-bottom:1px solid #fff;text-align:right;line-height:24px;margin:0;padding:2px 10px;}
#nav-below{display:inline-block;padding:20px 10px;border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.nav-previous{float:left;width:50%;}
.nav-next{float:right;width:50%;text-align:right;}

/* respond */
#respond{margin:0 0 20px 0;padding:20px 0 0 55px;border-top:1px solid #ddd;}
#respond h2{text-shadow:1px 1px 1px #999;font-family:Georgia,"Times New Roman",Times,serif;margin-bottom:10px;}
#respond .cancel-comment-reply a{color:#920017;}
#respond .cancel-comment-reply a:hover{color:#FF4E00;}
#commentform{margin:0 55px 0 0;padding:0;}
#commentform p{margin:0 0 10px;padding:0;}
#commentform a{}
#commentform textarea{padding:3px;background:#fff;border:1px solid #ddd;}
/* #commentform input{} */
#author,#email,#url{height:12px;padding:3px;border:1px solid #ddd;background:#fff;}
#comment{width:80%;height:125px;}
#submit{background:#222;font-weight:bold;color:#ccc;width:80px;height:25px;padding:2px 5px;border:1px solid #555;}
#submit:hover{color:#fff;}

/* trackbacks-pingbacks */
.trackbacks-pingbacks h3{font-weight:bold;margin-bottom:10px;border-bottom:1px solid #ddd;color:#555;padding:3px 0;}
.trackbacks-pingbacks ul{margin:5px 20px 15px;list-style-type:circle;}
.trackbacks-pingbacks ul li{margin-bottom:4px;}

/* Footer */
#footer{margin:20px auto 0;background:#454546;height:50px;}
#footer-inside{position:relative;width:640px;margin:0 auto;padding:5px 320px 5px 0;color:#aaa;}
#footer-inside a{border-bottom:1px dashed #aaa;color:#aaa;}
#footer-inside #back-to-top{position:absolute;top:5px;right:150px;color:#f2f2f2;font-size:14px;}
#footer-inside #back-to-top a{border:none;color:#f2f2f2;}

/* Other */
.aligncenter,div.aligncenter{display:block;margin:auto;}
.alignleft{float:left;}
.alignright{float:right;}
.wp-caption{text-align:center;padding-top:4px;margin:10px;border-radius:3px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption p.wp-caption-text{font-size:12px;line-height:17px;padding:0 4px 5px;margin:0;}



ul, ul li {
	list-style-type: none !important; 
}

li.leaf {
	list-style-image: none;
}

li.boxed {
	list-style-type: none !important; 
}

table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 4px;
	color: #000000 !important;
}

table {
	margin:5px;
}

h2 {
	margin:9px 5px 10px 1px;
	font-size:19px;
}

/************************************************
*          Comments  from theme pixel http://samk.ca/freebies/pixel/    *
************************************************/
#comments {
  margin-bottom: 10px;
  margin-top: 15px;
  background: transparent;
  width: 530px; /* fixes bug in IE7 where putting focus on the text makes it disappear behind the background. yeah, weird. they call it a dimensional bug. */
  
  padding: 0px 15px 10px 15px;
  color:  #000000;
  }
#comments h3 {
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
  margin: 15px 0;
  padding: 0;
  }
#comments p a {
  color: #000000;
  }
#comments p a:hover {
  color:  #000000;
  }
#comments p {
  padding:0;
  margin: 7px 0;
  color: #000000;
  }
ul.commentlist, ul.trackback  {
  list-style-type: none;
  margin: 10px 0;
  font-size: 9pt;
  }
.commentlist li, .trackback li {
  margin: 10px 0 15px 0;
  padding: 10px;

  list-style-type: none;
  }
.commentlist li.alt {

  border: 1px solid #020202;
  border: none;
  margin-top:10px;
  }
.commentlist li.cleared {
  background: transparent;
  border: none;
  }
.commentlist a:hover {
  color: #000000;
  }
.commentlist div.picture {
  float: left;
  margin-bottom:10px;

}

.commentlist .commentbody {
  margin: 0;
  padding: 0;
  position:relative;
  left:12px;
}

.commentlist .commentbody p a {
  text-decoration: underline;
  }
.commentlist cite a{
  font-size: 10pt;
  font-style: normal;
 
  }
.commentlist small.commentmetadata a {
  color: #666;
  }
.commentlist p {
  color: #dedede;
  }
#respond {
  clear: both;
  margin-top: 15px;
  }
textarea#comment {
  width: 450px;
  background: #fff;
  color: #111;
  padding: 10px;
  }
#comments #submit {
  margin: 0;
  }
  
  #search #s {
  position:relative !important;
  top:-12px !important;
  }
  
  #headerbanner {
  margin-bottom:14px;

  }
  
  input {
  margin-top: 5px;
  margin-bottom: 5px;
  }